.TopListPage {
    display: flex;
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    background: #fff url("/static/wrap3.png") repeat-y center 0;

    // 歌单列表
    .rank-list {
        width: 240px;
        margin-top: 40px;

        h2 {
            padding: 0 10px 12px 15px;
            font-size: 14px;
            color: #000;

            &.scd {
                margin-top: 20px;
            }
        }

        ul.characteristic {
            li {
                padding: 10px 0 10px 20px;
                height: 42px;
                cursor: pointer;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: #f4f2f2;
                }

                &.active {
                    background: #e6e6e6;
                }

                .pic {
                    width: 40px;
                    height: 40px;
                }

                .info {
                    flex: 1;
                    padding-left: 10px;

                    .title {
                        color: #000;
                        margin-bottom: 8px;
                        width: 150px;
                        overflow: hidden;
                        margin-top: 2px;
                    }

                    .update-time {
                        color: #999;
                    }
                }
            }
        }
    }

    // 右侧详情
    .rank-list-details {
        flex: 1;
        padding-bottom: 50px;

        // 头部信息
        .rank-list-head-wrap {
            display: flex;
            padding: 40px;

            .pic {
                position: relative;
                padding: 3px;
                border: 1px solid #ccc;
                width: 150px;
                height: 150px;

                .msk {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    background-position: -230px -380px;
                    top: 3px;
                    left: 3px;
                    background: url("../../static/coverall.png");
                }
            }

            .song-des {
                width: 473px;
                margin-left: 28px;

                .title {
                    line-height: 24px;
                    font-size: 20px;
                    font-weight: normal;
                    margin: 16px 0 4px;
                }

                .update-date {
                    height: 35px;
                    line-height: 35px;
                    margin: 0 0 20px;
                    display: flex;

                    .icon {
                        width: 13px;
                        height: 13px;
                        margin: 9px 0 0 3px;
                        background: url("/static/icon.png") no-repeat -18px -682px;
                    }

                    .date {
                        margin-left: 5px;
                        color: #666;
                    }

                    .exact {
                        color: #999;
                    }
                }

                .btns {
                    margin-bottom: 25px;
                    margin-right: -10px;
                    display: flex;

                    .playBtn {
                        display: flex;
                        align-items: center;
                        color: #fff;
                        width: 66px;
                        height: 31px;
                        background: url("/static/button2.png") repeat 0 -387px;

                        &:hover {
                            opacity: 0.8;
                            text-decoration: none;
                        }

                        i {
                            display: block;
                            width: 20px;
                            height: 18px;
                            margin: 0 3px 0 8px;
                            background: url("/static/button2.png") no-repeat 0 -1622px;
                            overflow: hidden;
                        }

                        span {
                            flex: 1;
                        }
                    }

                    .add {
                        width: 31px;
                        height: 31px;
                        cursor: pointer;
                        background: url("/static/button2.png") no-repeat 0 -1588px;
                        margin-right: 10px;
                    }

                    .collect-num {
                        text-decoration: none;
                        background: url("/static/button2.png") repeat right -1020px, url("/static/button2.png") no-repeat 0 -977px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .forward-num {
                        text-decoration: none;
                        background: url("/static/button2.png") repeat right -1020px, url("/static/button2.png") no-repeat 0 -1225px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .download-song {
                        text-decoration: none;
                        background: url("/static/button2.png") repeat right -1020px, url("/static/button2.png") no-repeat 0 -2761px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .comment-num {
                        text-decoration: none;
                        background: url("/static/button2.png") repeat right -1020px, url("/static/button2.png") no-repeat 0 -1465px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }


        // 歌曲列表
        .song-list-wrap {
            padding: 0 30px 40px 40px;

            // 头部
            .song-list-head {
                height: 33px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid #c20c0c;

                .hd {
                    display: inherit;
                    justify-content: inherit;
                    align-items: inherit;
                }

                .title {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: normal;
                }

                .count {
                    margin: 0 0 0 20px;
                    color: #666;
                }

                .play-num {
                    color: #666;

                    .num {
                        color: #c20c0c;
                    }
                }
            }

            // 歌曲列表
            .song-list-pre-cache {
                .has-gutter th {
                    padding: 7px 0;
                    background: url("/static/table.png") repeat 0 0;

                    div {
                        background: url("/static/table.png") no-repeat 0 -56px;
                    }
                }
            }
        }
    }
}

.btn-size {
    color: #333;
    height: 31px;
    line-height: 31px;
    margin: 0 6px;
    max-width: 85px;
    min-width: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    i {
        min-width: 23px;
        cursor: pointer;
        padding: 0 7px 0 28px;
    }
}