.LoginArea {
  height: 126px;
  background: url("/static/index.png") no-repeat 0 0;
}

.LoginArea .note {
  width: 205px;
  margin: 0 auto;
  padding: 16px 0;
  line-height: 22px;
  color: #666;
}

.LoginArea .btn {
  display: block;
  width: 100px;
  height: 31px;
  line-height: 31px;
  margin: auto;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 #8a060b;
  background: url("/static/index.png") no-repeat 0 -195px;
  text-decoration: none;
  cursor: pointer;
}

.LoginArea .btn:hover {
  background-position: -110px -195px;
}
