.SingerPage{
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background:#fff url("/static/wrap2.png") repeat-y center 0;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    display: flex;
    justify-content: space-between;
    // 歌手类型
    .singer-cate{
        width: 180px;
        .cate-wrap{
            margin-top: 51px;
            padding: 0 10px 40px;
            // border: 1px fuchsia solid;
            .cate{
                margin: 5px 0 0;
                padding-top: 16px;
                border-top: 1px solid #d3d3d3;
                &:first-child{
                    margin: 0;
                    padding-top: 0;
                    border-top: none;
                }
                .title{
                    height: 25px;
                    padding-left: 14px;
                    font-size: 16px;
                    font-family: "Microsoft Yahei";
                }
                ul.item{
                    li{
                        width: 160px;
                        margin-bottom: 2px;
                        a.name{
                            display: block;
                            width: 133px;
                            height: 29px;
                            line-height: 29px;
                            padding-left: 27px;
                            background: url("/static/singer.png") no-repeat 0 -30px;
            
                        }
                        a.active{
                            background-position: 0 0;
                            text-decoration: none;
                            color: #c20c0c;
                        }
                    }
                }
            }
        }
    }
    // 歌手列表
    .singer-list-wrapper{
        flex: 1;
        padding: 40px;
        // 分类名
        .cate-type{
            height: 40px;
            border-bottom: 2px solid #c20c0c;
            font-size: 24px;
            font-weight: normal;
        }
        // 字母表
        .initial{
            margin-top: 20px;
            display: flex;
            li{
                margin-left: 3px;
                font-size: 14px;
                &:first-child{
                    margin-left: 0;
                }
                .active{
                    background: #c20c0c;
                    color: #fff !important;
                }
                a{
                    display: block;
                    width: 21px;
                    line-height: 24px;
                    text-align: center;
                    &:hover{
                        // color: #c20c0c;
                        font-weight: normal;
                    }
                }
                .hot{
                    display: block;
                    width: 45px;
                    height: 24px;
                    background: #c20c0c;
                    border-radius: 2px;
                    color: #fff;
                    &:hover{
                        color: #fff;
                        font-weight: normal;
                    }
                }
                .other{
                    display: block;
                    width: 48px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
        // 歌手列表
        .singer-list{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            li{
                padding-right: 17px;
                padding-bottom: 30px;
                width: 130px;
                height: 154px;
                overflow: hidden;
                line-height: 1.4;
                &:nth-child(5n){
                    padding-right: 0;
                }
                &.line{
                    margin-bottom: 12px;
                    border-bottom: 1px dotted #999;
                }
                .pic{
                    width: 130px;
                    height: 130px;
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .bgImg{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: url("/static/coverall.png") no-repeat 0 -680px;
                    }
                }
                .name{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 8px;
                    color: #000;
                    a{
                        display: inline-block;
                        max-width: 80%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                    }
                }
                i{
                    display: inline-block;
                    width: 17px;
                    height: 18px;
                    background: url("/static/icon.png") no-repeat 0 -740px;
                    margin: 0 0 0 5px;
                }
            }
            .small{
                height: 23px;
                width: 130px;
                padding-bottom: 0;
                line-height: 23px;
                margin-bottom: 7px;
                .name{
                    margin-top: 0;
                    justify-content: flex-start;
                    a{
                        max-width: 105px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                    }
                   
                }
            }
        }
    }
}