.GlobalHeader {
  position: relative;
  z-index: 1000;
  height: 70px;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 1px solid #000;
}

.GlobalHeader .container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.GlobalHeader .container .top-left .logo {
  float: left;
  width: 176px;
  height: 100%;
  background: url("/static/topbar.png") no-repeat 0 0;
}

.GlobalHeader .container .top-left .nav {
  float: left;
}

.GlobalHeader .container .top-left .nav li {
  float: left;
  height: 70px;
  font-size: 14px;
  position: relative;
}

.GlobalHeader .container .top-left .nav li a {
  display: block;
  padding: 0 19px;
  text-align: center;
  line-height: 70px;
  color: #ccc;
  text-decoration: none;
}

.GlobalHeader .container .top-left .nav li a .arrow {
  display: none;
  position: absolute;
  left: 50%;
  top: 64px;
  width: 12px;
  height: 7px;
  margin-left: -6px;
  overflow: hidden;
  background: url("/static/topbar.png") no-repeat -226px 0;
}

.GlobalHeader .container .top-left .nav li a:hover {
  background: #000;
  color: #fff;
}

.GlobalHeader .container .top-left .nav li a.active {
  background: #000;
  color: #fff;
  text-decoration: none;
}

.GlobalHeader .container .top-left .nav li a.active .arrow {
  display: block;
}

.GlobalHeader .container .search-and-login-container {
  display: flex;
  align-items: center;
}

.GlobalHeader .container .search-and-login-container .search-wraper {
  width: 158px;
  height: 32px;
  background: #fff url("/static/topbar.png") no-repeat 0 -99px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.GlobalHeader .container .search-and-login-container .search-wraper input {
  width: 95%;
  margin: 0;
  padding: 0;
  background: transparent;
  color: #333;
  border: none;
  margin-left: 30px;
}

.GlobalHeader .container .search-and-login-container .m-top {
  width: 90px;
  height: 32px;
  box-sizing: border-box;
  padding-left: 16px;
  border: 1px solid #4F4F4F;
  background-position: 0 -140px;
  line-height: 33px;
  color: #ccc;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 12px;
}

.GlobalHeader .container .search-and-login-container .m-top:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #ccc;
}

.GlobalHeader .container .search-and-login-container .loginBtn {
  display: block;
  width: 28px;
  color: #aaa;
  color: #787878;
  cursor: pointer;
  padding-right: 22px;
}

.GlobalHeader .container .search-and-login-container .loginBtn:hover {
  color: #bbb;
}
