.RankingList {
    height: 472px;
    margin-top: 20px;
    background: url("/static/index_bill.png") no-repeat;
    display: flex;

    li {
        a {
            color: #333;
        }
    }

    .rankcate {
        width: 230px;

        // 头部区
        .top {
            height: 120px;
            padding: 20px 0 0 19px;
            display: flex;
            box-sizing: border-box !important;

            .pic {
                position: relative;
                width: 80px;
                height: 80px;
                overflow: hidden;

                .bgImg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url("../../static/coverall.png") no-repeat;
                    background-position: -145px -57px;
                }
            }

            .playCount {
                font-size: 12px;
                color: #999;
                margin-top: 10px;
            }

            .title {
                flex: 1;
                max-width: 116px;
                margin: 6px 0 0 10px;
                overflow: hidden;

                a {
                    // display: inline-block;
                    width: 100%;

                    h3 {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }

                .btn {
                    margin-top: 10px;
                    overflow: hidden;

                    i {
                        float: left;
                        width: 22px;
                        height: 22px;
                        margin-right: 10px;
                        background: url("/static/index.png") no-repeat;

                        &:hover {
                            background-position-y: -235px;
                            cursor: pointer;
                        }
                    }

                    .player {
                        background-position: -267px -205px;
                    }

                    .subscribe {
                        background-position: -300px -205px;
                    }

                }
            }
        }

        .more {
            clear: both;
            height: 32px;
            margin-right: 32px;
            text-align: right;
            line-height: 32px;
        }

        // 列表区
        .list {
            ol {
                height: 319px;
                // padding-left: 10px;
                line-height: 32px;

                li {
                    display: flex;
                    height: 32px;
                    overflow: hidden;
                    position: relative;

                    .serial-number {
                        min-width: 50px;
                        height: 32px;
                        text-align: right;
                        padding-right: 14px;
                        box-sizing: border-box;
                        color: #666;
                        font-size: 16px;
                    }

                    &:nth-child(1) {
                        .serial-number {
                            color: #c10d0c;
                        }
                    }

                    &:nth-child(2) {
                        .serial-number {
                            color: #c10d0c;
                        }
                    }

                    &:nth-child(3) {
                        .serial-number {
                            color: #c10d0c;
                        }
                    }

                    .name {
                        flex: 1;
                        max-width: 160px;
                        height: 32px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                        color: #000;
                    }

                    &:hover .oper {
                        display: flex;
                    }

                    .oper {
                        width: 81px;
                        display: none;
                        // justify-content: space-between;
                        align-items: center;

                        i {
                            width: 17px;
                            height: 17px;
                            margin-right: 10px;
                            cursor: pointer;
                            background: url("/static/index.png") no-repeat;

                            &:hover {
                                background-position-y: -288px !important;
                            }
                        }

                        i:nth-child(1) {
                            background-position: -267px -268px;
                        }

                        i:nth-child(2) {
                            background: url("/static/icon.png") no-repeat 0 -698px;

                            &:hover {
                                background-position: -22px -698px !important;
                            }
                        }

                        i:nth-child(3) {
                            background-position: -297px -268px;
                        }
                    }
                }
            }
        }
    }
}