.DiscoverNav {
  height: 35px;
  background-color: #C20C0C;
  border-bottom: 1px solid #a40011;
  box-sizing: border-box;
}

.DiscoverNav .nav {
  width: 1100px;
  margin: auto;
}

.DiscoverNav .nav ul {
  display: flex;
  height: 34px;
  padding-left: 180px;
}

.DiscoverNav .nav ul li {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DiscoverNav .nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 3px 13px;
  margin: 0 17px 0;
  border-radius: 20px;
}

.DiscoverNav .nav ul li a:hover {
  background: #9B0909;
}

.DiscoverNav .nav ul li a.active {
  background: #9B0909;
}
