@charset "UTF-8";
.swiper-container {
  /* 两种都可以 */
  --swiper-theme-color: #ff6600;
  --swiper-pagination-color: #00ff33;
}

.BannerWrapper {
  height: 285px;
}

.BannerWrapper .container {
  position: relative;
  width: 980px;
  height: 100%;
  margin: auto;
  display: flex;
}

.BannerWrapper .ant-carousel {
  height: 100%;
}

.BannerWrapper .ant-carousel .slick-slider {
  height: 100%;
}

.BannerWrapper .ant-carousel .slick-slider div {
  height: 100%;
}

.BannerWrapper .banner {
  width: 730px;
  height: 100%;
  height: 100%;
  overflow: hidden;
}

.BannerWrapper .banner .move-wrapper {
  height: 100%;
}

.BannerWrapper .banner a {
  display: block;
  width: 100%;
  height: 100%;
}

.BannerWrapper .download-wrapper {
  position: relative;
  width: 250px;
  height: 100%;
  background: #333 url("/static/download.png") no-repeat 0 0/cover;
  opacity: 0.9;
}

.BannerWrapper .download-wrapper .btn {
  display: block;
  width: 212px;
  height: 56px;
  line-height: 56px;
  margin: 182px 0 0 19px;
  background-position: 0 9999px;
  text-align: center;
  background-color: #3796ee;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.BannerWrapper .download-wrapper p {
  margin: 15px auto 10px;
  text-align: center;
  color: #8d8d8d;
}

.BannerWrapper .download-wrapper:hover {
  opacity: 1;
}

.BannerWrapper .download-wrapper .shadow {
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 285px;
  background-position: -1px 0;
  background: url("../../static/banner.png") 0 9999px no-repeat;
}

.BannerWrapper .download-wrapper .shadowr {
  display: block;
  position: absolute;
  top: 0;
  height: 285px;
  width: 20px;
  left: auto;
  right: -20px;
  background-position: -20px 0;
  background: url("../../static/banner.png") 0 9999px no-repeat;
}

.BannerWrapper .changeBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  cursor: pointer;
}

.BannerWrapper .changeBtn:hover {
  background-color: rgba(240, 240, 240, 0.3);
}

.BannerWrapper .changeBtn.prevBtn {
  left: -55px;
}

.BannerWrapper .changeBtn.nextBtn {
  right: -55px;
}
